<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h2 class="section-heading" ng-bind="main"></h2>
            <hr class="primary">
            <p class="text-faded" ng-bind="description"></p>
            <a href="#services" style="white-space:normal" class="page-scroll btn btn-default btn-xl sr-button" ng-bind="windowsBtn"></a>
            <a href="#services" style="white-space:normal" class="page-scroll btn btn-default btn-xl sr-button" ng-bind="androidBtn"></a>

        </div>
    </div>
</div>
